<header>
    <div class="main_header">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light p-0">
          <a class="navbar-brand" href="./index.html"
            ><figure class="mb-0">
              <img src="./assets/images/fgit_logo.png" alt="" style="width: 200px; height: 100px; object-fit:contain;" /></figure
          ></a>
          <button
            class="navbar-toggler collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" routerLink="" routerLinkActive>Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="products" routerLinkActive>Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#blog" routerLinkActive>Blog</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </header>