<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-5" *ngFor="let product of products">
        <div class="pricing_plans_box_content">
            <div class="pricing_plans_box_upper_portion">
                <figure class="pricing_plans_image mb-0">
                    <img src="{{ product.image }}" alt="" class="img-fluid" style="height: 20rem; object-fit: cover;">
                </figure>
            </div>
            <div class="pricing_plans_box_lower_portion">
                <h3>{{ product.name }}</h3>
                <p>{{ product.description | truncate: 20: '....'  }}</p>
                <div class="pricing_plans_span_wrapper">
                    <span class="price">₦{{ product.price | number }}</span>
                </div>
                <div class="btn_wrapper">
                    <a class="enroll_now_btn text-decoration-none" [routerLink]="['/product-details', product.id]">See details</a>
                </div>
            </div>
        </div>
    </div>
</div>