<!-- GET IN TOUCH SECTION -->
<section class="get_in_touch_section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="get_in_touch_content">
            <h5>Get in touch</h5>
            <h2>Join the FGIT community</h2>
            <span style="color: #9AFEB0" *ngIf="email_sent">Process is complete</span>
            <form #myForm="ngForm" (ngSubmit)="submitForm(myForm)">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="form-group mb-0">
                    <input
                      type="text"
                      name="fname"
                      id="fname"
                      class="form-control"
                      placeholder="First Name"
                      [(ngModel)]="fname"
                    />
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="form-group mb-0">
                    <input
                      type="text"
                      name="lname"
                      id="lname"
                      class="form-control form_style"
                      placeholder="Last Name"
                      [(ngModel)]="lname"
                    />
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="form-group mb-0">
                    <input
                      type="tel"
                      name="phonenum"
                      id="phonenum"
                      class="form-control"
                      placeholder="Phone"
                      [(ngModel)]="phonenum"
                    />
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="form-group mb-0">
                    <input
                      type="email"
                      name="emailaddrs"
                      id="emailaddrs"
                      class="form-control form_style"
                      placeholder="Email"
                      [(ngModel)]="emailaddrs"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group mb-0">
                    <textarea
                      rows="3"
                      name="comment"
                      id="msg"
                      class="form-control"
                      placeholder="Message"
                      [(ngModel)]="comment"
                    ></textarea>
                  </div>
                </div>
              </div>
              <div class="btn_wrapper">
                <button type="submit" name="get_started" id="started" style="background-color: black;">
                  Get Started
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <figure class="get_in_touch_shape left_shape mb-0">
        <img
          src="./assets/images/get_in_touch_shape.png"
          alt=""
          class="img-fluid"
        />
      </figure>
    </div>
  </section>