<!-- GET IN TOUCH SECTION -->
<section class="get_in_touch_section" style="margin-top: 10rem;">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="get_in_touch_content">
            <h5>Get in touch</h5>
            <h2>Get a Free Consultation Now</h2>
            <form>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="form-group mb-0">
                    <input
                      type="text"
                      name="fname"
                      id="fname"
                      class="form-control"
                      placeholder="First Name"
                    />
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="form-group mb-0">
                    <input
                      type="text"
                      name="lname"
                      id="lname"
                      class="form-control form_style"
                      placeholder="Last Name"
                    />
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="form-group mb-0">
                    <input
                      type="tel"
                      name="phonenum"
                      id="phonenum"
                      class="form-control"
                      placeholder="Phone"
                    />
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="form-group mb-0">
                    <input
                      type="email"
                      name="emailaddrs"
                      id="emailaddrs"
                      class="form-control form_style"
                      placeholder="Email"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group mb-0">
                    <textarea
                      rows="3"
                      name="comment"
                      id="msg"
                      class="form-control"
                      placeholder="Message"
                    ></textarea>
                  </div>
                </div>
              </div>
              <div class="btn_wrapper">
                <button type="submit" name="get_started" id="started">
                  Get Started
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-2 col-xs-12 d-md-block d-none"></div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <div class="get_in_touch_video position-relative">
            <a
              class="popup-vimeo"
              href="https://previews.customer.envatousercontent.com/6720474d-ddc3-4b86-acf1-8d093cb37b6d/watermarked_preview/watermarked_preview.mp4"
            >
              <figure class="video_img mb-0">
                <img
                  class="thumb img-fluid"
                  style="cursor: pointer"
                  src="./assets/images/get_in_touch_video_icon.png"
                  alt=""
                />
              </figure>
            </a>
          </div>
        </div>
      </div>
      <figure class="get_in_touch_shape left_shape mb-0">
        <img
          src="./assets/images/get_in_touch_shape.png"
          alt=""
          class="img-fluid"
        />
      </figure>
    </div>
  </section>