<!-- BLOG POSTS SECTION -->
<section class="blog_posts_section" id="blog">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="blog_posts_content">
            <h2>Read our latest articles</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="blog_posts_image position-relative">
            <figure class="mb-0">
              <img
                src="./assets/images/blog_posts_1.jpeg"
                alt=""
                class="img-fluid"
              />
            </figure>
            <div class="blog_posts_image_content">
              <span>No code roles</span>
              <div class="icon_wrapper">
                <a href="#" class="text-decoration-none"
                  ><i class="fa-solid fa-arrow-right" aria-hidden="true"></i
                ></a>
              </div>
            </div>
          </div>
          <h4>
            This week we will be highlighting high paying no code roles within the tech industry
          </h4>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="blog_posts_image position-relative">
            <figure class="mb-0">
              <img
                src="./assets/images/blog_posts_2.jpeg"
                alt=""
                class="img-fluid"
              />
            </figure>
            <div class="blog_posts_image_content">
              <span>Women in tech</span>
              <div class="icon_wrapper">
                <a href="#" class="text-decoration-none"
                  ><i class="fa-solid fa-arrow-right" aria-hidden="true"></i
                ></a>
              </div>
            </div>
          </div>
          <h4>
            Learn how to navigate the tech industry as a black female founder.
          </h4>
        </div>
      </div>
      <div class="btn_wrapper">
        <a href="./single-post.html" class="text-decoration-none view_blog" style="background-color: black; color: white;"
          >View All Blogs</a
        >
      </div>
      <figure class="blog_posts_left_shape left_shape mb-0">
        <img
          src="./assets/images/blog_posts_left_shape.png"
          alt=""
          class="img-fluid"
        />
      </figure>
      <figure class="blog_posts_right_shape right_shape mb-0">
        <img
          src="./assets/images/blog_posts_right_shape.png"
          alt=""
          class="img-fluid"
        />
      </figure>
    </div>
  </section>