<!-- BLOG POSTS SECTION -->
<section class="blog_posts_section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="blog_posts_content">
            <h5>Blog Posts</h5>
            <h2>Our News Feed</h2>
            <p>
              Autem vel eum iure reprehenderit qui in ea voluptate velit esse quam
              nihil molestiae consequatur vel illum qui dolorem eum fugiat
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="blog_posts_image position-relative">
            <figure class="mb-0">
              <img
                src="./assets/images/blog_posts_1.png"
                alt=""
                class="img-fluid"
              />
            </figure>
            <div class="blog_posts_image_content">
              <span>YOGA</span>
              <h4>
                Yoga Effects on Brain Health: A Systematic Review of the Current
                Literature
              </h4>
              <div class="icon_wrapper">
                <a href="./single-post.html" class="text-decoration-none"
                  ><i class="fa-solid fa-arrow-right" aria-hidden="true"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="blog_posts_image position-relative">
            <figure class="mb-0">
              <img
                src="./assets/images/blog_posts_2.png"
                alt=""
                class="img-fluid"
              />
            </figure>
            <div class="blog_posts_image_content">
              <span>FITNESS</span>
              <h4>
                Maintaining a regular yoga practice can provide physical health
              </h4>
              <div class="icon_wrapper">
                <a href="./single-post.html" class="text-decoration-none"
                  ><i class="fa-solid fa-arrow-right" aria-hidden="true"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="btn_wrapper">
        <a href="./single-post.html" class="text-decoration-none view_blog"
          >View All Blogs</a
        >
      </div>
      <figure class="blog_posts_left_shape left_shape mb-0">
        <img
          src="./assets/images/blog_posts_left_shape.png"
          alt=""
          class="img-fluid"
        />
      </figure>
      <figure class="blog_posts_right_shape right_shape mb-0">
        <img
          src="./assets/images/blog_posts_right_shape.png"
          alt=""
          class="img-fluid"
        />
      </figure>
    </div>
  </section>